.breed-selector__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.breed-selector {
    font-size: 18px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 20px;
}