.page-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-header__btn-back {
    position: absolute;
    left: 0;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #999999;
    border-radius: 5px;
    padding: 10px 20px;
}